
:root{
  --green: #64ffda;
  --radius: 10px;
  --background-grey: #222831;

  --border: #414955;
}

header{
  background-color: var(--background-grey);
  height: 8vh;

  text-align: left;
  text-align: center;
}

ul{
 display: inline-block;
 list-style-type: none;

 overflow: hidden;
 margin: 0;
 padding: 0;
}

li{
  float: left;
  padding: 10px;
}

#right{
  float:right;
  padding: 10px;
}

li a {

  display: block;
  color: white;
  text-align: center;
  padding: 10px;


  background-color:#303742;
  border: 2px solid #414955;
  border-radius: 4px;
}


li a:hover{
  cursor: pointer;
  color: var(--green);

}